<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h1>Subir imagen</h1>
                </div>
                <div class="ibox-content" ng-if="agregando">
                    <div class="sk-spinner sk-spinner-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
                <div class="ibox-content" >
                    <form class="form-horizontal" name="formaDato">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagenes nuevas</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-model="forma.imagenes" name="file" ngf-max-size="20MB" ngf-max-files="20"  ngf-multiple="true" ng-required="forma.rutas.length == 0">
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-md-10">
                                <img ng-repeat="img in forma.imagenes" ngf-thumbnail="img" width="150em" height="auto" style="margin:2px">
                            </div>
                            <div class="col-md-5 col-md-offset-2" ng-if="loading">
                                <div class="alert alert-info m-t">
                                    <a class="alert-link" href="">Subiendo imagen...</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="rutas.length > 0">
                            <div class="hr-line-dashed"></div>
                            <label class="col-sm-2 control-label">Imagen actules</label>
                            <div class="col-md-10">
                                <figure class="snip1566" ng-repeat="ruta in rutas">
                                    <img ng-src="{{ruta.ruta}}" alt="sq-sample20" ng-click="eliminarImg(ruta.idgaleria)">
                                    <figcaption ng-click="eliminarImg(ruta.idgaleria)"><i class="ion-close-round"></i></figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="form-group">
                            <center>
                                <button type="button" class="btn btn-danger m-t-n-xs" ui-sref="galeria.galeriaComercio">Cancelar</button>
                                <button type="button" class="btn btn-primary m-t-n-xs" ng-disabled="formaDato.$invalid || forma.imagenes.length <= 0 || loading" ng-click="agregar()" >Agregar</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
