<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <img src="img/logo.png" class="img-responsive">
            </li>
            <li ui-sref-active="active">
                <a ui-sref="eventos.index"><i class="fa fa-calendar-o"></i> <span class="nav-label">Eventos</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="videos.index"><i class="fa fa-video-camera"></i> <span class="nav-label">Videos</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="slider.index"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Slider</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="convocatorias.index"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Convocatorias</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="galeria.index"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Galer&iacute;a</span> </a>
            </li>
            <li ng-class="{active: $state.includes('config')}" ng-if="datos.config">
                <a href="index.html"><i class="fa fa-cog"></i> <span class="nav-label">Configuraci&oacute;n</span>  <!-- Esto es la flecha para que le den click es solo un icono -->
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                  <li ui-sref-active="active"><a ui-sref="config.usuarios">Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
