<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <img src="img/logo.png" class="img-responsive">
            </li>
<!--
            <li ui-sref-active="active">
                <a ui-sref="noticias.index"><i class="fa fa-calendar-o"></i> <span class="nav-label">Noticias</span> </a>
            </li>
-->
            <li ui-sref-active="active">
                <a ui-sref="videos.index"><i class="fa fa-video-camera"></i> <span class="nav-label">Videos</span> </a>
            </li>
            <li ng-class="{active: $state.includes('config')}">
                <a href="index.html"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Galeria</span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaComercio"><i class="fa fa-file-picture-o"></i> <span class="nav-label"> Direcci&oacute;n de comercio y turismo</span> </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaIno"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Direcci&oacute;n de centro de innovación socioeconómica y tecnológica</span> </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaEmpleo"><i class="fa fa-file-picture-o"></i> <span class="nav-label">Dirección de empleo y pymes</span> </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaDesarrollo"><i class="fa fa-file-picture-o"></i> <span class="nav-label"> Direcci&oacute;n de desarrollo rural</span> </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaFide"><i class="fa fa-file-picture-o"></i> <span class="nav-label"> Direcci&oacute;n de fideicomiso parque industrial progreso</span> </a>
                    </li>
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                    <li ui-sref-active="active">
                        <a ui-sref="galeria.galeriaIndustrial"><i class="fa fa-file-picture-o"></i> <span class="nav-label"> Direcci&oacute;n de desarrollo industrial y comercio exterior</span> </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('config')}" ng-if="datos.config">
                <a href="index.html"><i class="fa fa-cog"></i> <span class="nav-label">Configuraci&oacute;n</span>  <!-- Esto es la flecha para que le den click es solo un icono -->
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('config')}">
                  <li ui-sref-active="active"><a ui-sref="config.usuarios">Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
